{% extends 'base.html.twig' %}

{% block title %}New Jedi{% endblock %}

{% block body %}
    <h1>Create new Jedi</h1>

    {{ include('jedi/_form.html.twig') }}

    <a href="{{ path('jedi_index') }}">back to list</a>
{% endblock %}
