{% extends 'base.html.twig' %}

{% block title %}Produit {{ jedi.id }} {% endblock %}

{% block body %}

{% include '/layout/menu.html.twig' %}

<h1> Produit {{ jedi.id }} </h1>
<br>
Nom : {{jedi.name}}
<br>
Couleur sabre : {{jedi.saberColor}}
{% endblock %}
